*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}
header{
    background: rgba(255, 144, 14, 0.1);
    height: 100vh;
    
}
.nav-container{
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    margin-left: 100px;
    margin-right: 100px;
    align-items: center;
   padding: 25px 50px;

}
.logo-title{
    font-size: 40px;
    font-weight: 600;
    color: #131313;
    width: 150px;
    left: 228px;
    top: 50px;
}
.manu-item{
    display: flex;
    list-style: none;
}
ul{
  align-items: center;
}
ul li{
    margin-left: 30px;
}
/* Banner contents style */
.banner-container{
    text-align: center;
    margin-top: 100px;
    margin-left: 529px;
    margin-right: 529px;
}
.banner-title{
    font-size: 64px;
    font-weight: 700;
    color: #131313;
}
.banner-desciption{
    font-weight: 400px;
    color: #727272;
    margin-top: 30px;
    margin-bottom: 30px;
}
.primary-color{
    background-color: #FF900E;
    padding: 21px 24px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
}
.banner-image{
    height: 700px;
    margin: 50px 130px;
}
/* Our Feature Style */
.our-feature-section{
   display: flex;
   justify-content: center;
   align-items: center;
}
.feature-images{
    display: grid;
    grid-template-columns: 342px 342px;
    margin-top: 80px;
    margin-left: 300px;
    column-gap: 10px;
    row-gap: 10px;

}
.our-images{
  width: 342px;
}
.feature-contents{
   margin-left: 65px;
}
.q-list{
  font-size: 45px;
  font-weight: 700;
  color: #727272;
}
.o-our{
  font-size: 45px;
  font-weight: 700;
  color: #131313;
}
.f-title{
  font-size: 45px;
  font-weight: 700;
  color: #FF900E;
}
.feature-description{
  font-size: 16px;
  font-weight: 400;
  color: #727272;
  margin-top: 27px;
  margin-bottom: 27px;
}
/* Enjoy and Love Section Style */
.enjoyable-section{
  background-color: rgb(240, 245, 245);
  margin: 130px 130px;
}
.bar{
  width: 5px;
  height: 105px;
  padding: 20px 3px;
  background: #FF900E;
  margin-left: 33px;
  margin-bottom: -20px;
  position: relative;
}
.enjoy-love-section{
    display: flex;
    justify-content: space-around;
    margin-left: 40px;
    
}
.loving-features{
   padding-top: 20px;
   padding-bottom: 20px;
   
}
.love-title{
   font-size: 45px;
   font-weight: 700;
   color: #131313;
   margin-bottom: 25px;
}
.love-des{
  font-weight: 400;
  color: #727272;
}
.feature-description-1{
 margin-top: 70px;
 border: 1px solid white;
 padding: 10px 10px;
 background-color: white;
 margin-right: 25px;
 border-radius: 5px;

}

.feature-description-1{
 margin-top: 70px;
}
.feature-description-1{
 margin-top: 70px; 
}
.feature-description-1{
  margin-top: 70px;  
}
.des-title{
  font-size: 20px;
  font-weight: 600;
  color: #131313;
  margin-bottom: 15px;
}
.feateur-des{
    font-weight: 400;
    color: #727272;
}
.enjoy-image{
  width: 705px;
  height: 980px;
}
.primary-color-pro{
    background-color: #FF900E;
    padding: 21px 24px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    margin-left: 700px;
    margin-top: -450px;
}
/* Some Effect Design */
.some-effects{

}
.some-effect-content{
    margin-left: 120px;
}
.effect-title{
  font-size: 45px;
 font-weight: 700;
 color: #131313;
 margin-bottom: 15px;
 
}
.effect-description{
  font-weight: 400;
  color: #727272;
  padding-bottom: 70px;
}
.some-effects-design{
  display: flex;
  justify-content: center;
  text-align: center;
  
}
.award{
    margin-left: 95px;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 20px 25px;
    border: 1px solid 
    #FF900E;
    background-color: aliceblue;
    border-radius: 7px;
}
.design-image{

}
.design-title{

}
.design-description{

}
.project{
    margin-left: 95px;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 20px 25px;
    border: 1px solid 
    #FF900E;
    background-color: aliceblue;
    border-radius: 7px;
}
.client{
    margin-left: 95px;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 20px 25px;
    border: 1px solid 
    #FF900E;
    background-color: aliceblue;
    border-radius: 7px;
}
.email{
    margin-left: 95px;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 20px 25px;
    border: 1px solid 
    #FF900E;
    background-color: aliceblue;
    border-radius: 7px;
}
/* Our Sponsor Section Style */
.our-sponsors{
   margin-top: 100px;
   margin-bottom: 100px;
}
.sponsor{
  text-align: center;
}
.sponsor-title{
  font-size: 45px;
  font-weight: 700;
  color: #131313;
  margin-bottom: 15px;
}
.sponsor-description{
  font-weight: 400;
  color: #727272;
  padding-bottom: 70px;
}
.our-sponsor-logo{
  display: flex;
  justify-content: center;
}
.spotify{
  margin-left: 95px;
}
.amazon{
 margin-left: 95px;
}
.google{
 margin-left: 95px;
}
.telerama{
 margin-left: 95px;
}
.figma{
    margin-left: 95px;
}
/* Best Architecture Design */
.best-architects{
  background-image: url(../images/Best\ Architects.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
}
.best-title{
    color: red;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    padding-top: 36vh;
}
/* Footer Section Style */
.footer-section{
  background-color: #151414;
  height: 65vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
}
.footer-title{
 font-size: 45px;
 font-weight: 700;
 color: #F8F8F8;
 margin-bottom: 20px;
    
}
.footer-description{
 color: #fff;
 margin-bottom: 24px;
}
.subscribe-title{
  font-size: 25px;
  font-weight: 600;
  color: #fff;
}
input{
  height: 25px;
  width: 100%;
  background-color: #151414;
  border: 2px solid white;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 18px;
  padding-right: 45px;
  margin-top: 31px;
  margin-bottom: 18px;
  border-radius: 5px;
}
.footer-descriptions{
  text-align: center;
  border: 2px solid lightblue;
  background-color: #f1cb9b;
  margin-top: -70px;
  margin-bottom: 100px;
  padding: 30px 100px;
  margin-left: 50px;
  margin-right: 50px;

}
.footer-des{
    font-size: 20px;
    font-weight: 400;
    color: #424242;
}
/* ---------Media Queries----- */
@media only screen and (max-width:688px) {
   .logo-title{
    font-size: 20px;
   } 
}
